<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="box-shadow: 0px 1px #888888;">Test Types Done In <%=  @specimen_type %></h2>
            </div>
        </div>
        <div class="panel" style="margin-top: -15px;  border: thin solid lightgrey; box-shadow: 1px 1px 1px 1px #888888;">                       
         
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Test Type Name</th>                          
                            <th>Target TAT</th>
                            <th>Test Short Name</th>
                            <th>Analysis Frequency</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                     
                                         
                    </tbody>
                </table>    
            </div>

        </div>  
    </div>
</div>
